#yaml-language-server: $schema=https://architalia.github.io/site/schema.json

site_name: ''
repo_url: https://github.com/architalia/core
repo_name: architalia/core
edit_uri: edit/main/docs/


nav: 
  - 'Core Linux': index.md
    
     

theme:
  icon:
    repo: fontawesome/brands/github
    edit: material/pencil 
    view: material/eye
    admonition:
      note: octicons/tag-16
      abstract: octicons/checklist-16
      info: octicons/info-16
      tip: octicons/squirrel-16
      success: octicons/check-16
      question: octicons/question-16
      warning: octicons/alert-16
      failure: octicons/x-circle-16
      danger: octicons/zap-16
      bug: octicons/bug-16
      example: octicons/beaker-16
      quote: octicons/quote-16

  logo: assets/logo.png
  favicon: assets/favicon.png
  name: material
  language: it
  custom_dir: overrides
  
  
    
  features:
    - navigation.footer
    - content.action.edit
    - navigation.sections
    - navigation.tabs
    - content.code.copy


  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: slate
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

extra:
  consent:
    title: Cookie consent
    description: >- 
     We use cookies to recognize your repeat visits and preferences, as well as to measure the effectiveness of our documentation and whether users are finding what they are looking for. With your consent, you are helping us improve our documentation.

     
  version:
    default: stable

  social:
    - icon: fontawesome/brands/github
      link: https://github.com/ArchItalia
    - icon: fontawesome/brands/facebook
      link: https://www.facebook.com/groups/architalia
    - icon: fontawesome/brands/mastodon
      link: https://mastodon.uno/@Architalia 
    - icon: fontawesome/brands/youtube
      link: https://www.youtube.com/@ArchItalia
    - icon: fontawesome/solid/mug-saucer
      link: https://www.paypal.com/donate/?hosted_button_id=3C4YAF9NXMEWL
      
extra_css:
  - stylesheets/extra.css
  - stylesheets/fonts.css
  - stylesheets/colors.css
extra_javascript:
  - javascript/extra.js
    
copyright: ' '
  



plugins:
  - search
  - git-revision-date-localized:
      enable_creation_date: true
      type: date

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true






